# ==========================================
# CONFIGURAÇÕES GERAIS
# ==========================================
NODE_ENV=development
PORT=3000

# ==========================================
# POSTGRESQL
# ==========================================
DB_HOST=postgres
DB_PORT=5432
DB_USER=bcb_user
DB_PASSWORD=bcb_password
DB_NAME=bcb_db
# Algumas configurações do TypeORM podem usar estas:
DB_USERNAME=bcb_user
DB_DATABASE=bcb_db

# ==========================================
# REDIS
# ==========================================
REDIS_HOST=redis
REDIS_PORT=6379

# ==========================================
# RABBITMQ
# ==========================================
RABBITMQ_DEFAULT_USER=bcb_mq_user
RABBITMQ_DEFAULT_PASS=bcb_mq_password
RABBITMQ_URI=amqp://bcb_mq_user:bcb_mq_password@rabbitmq:5672

# ==========================================
# SEEDER
# ==========================================
RUN_SEEDER=true

# ==========================================
# FRONTEND
# ==========================================
API_URL=http://localhost:3000
