# Dependências
**/node_modules/

# Compilação e Builds
**/dist/
**/dist_manual/
**/dist_test/
**/build/
**/.angular/

# Testes e Relatórios
**/output_test/
**/coverage/
**/.nyc_output/

# Variáveis de Ambiente e Logs
.env
.env.*
!.env.example
*.log
npm-debug.log*

# Sistema Operacional e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/